*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 200px;
    
}

h2, p{
    text-align: center;
}

.container{
    width: 100%;
    height: 100vh;
    border: 2px solid black ;
}

.card{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin: 10%;
}

.box {
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 2px solid red;
    padding: 10px 20px;
    margin: 10%;
    margin-left: 500px;
}


.box{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin-left: 60%;
}


