header{
    font-size: 35px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgreen;
}

.day{
    font-size: 25px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3px;
}

.footer {
    text-align: center;
    position:fixed;
    bottom:0;
    font-size: 25px;
    left:0;
    width:100%;
    height: 80px;
    background-color: #8367c7;
}

.logo{
    width: 80px;
    height: 80%;
    margin-left: 30px;
    
}

.madeBy{
    margin-left: 278px;
    justify-content: center;
    color: white;
    margin-top: 10px;
    display:inline-block;


}


